<form [formGroup]="form" class="grid form-grid p-fluid">
  <div class="col-12 field">
    <label for="descripcion">Descripción</label>
    <input pInputText id="descripcion" formControlName="descripcion" type="text" />
  </div>

  <div class="field col-12">
    <label for="cod_materia_prima">Materia Prima</label>
    <p-dropdown id="cod_materia_prima" [options]="materiasPrimas" formControlName="cod_materia_prima"
      optionLabel="descripcion" optionValue="cod_materia_prima" placeholder="Materia Prima" optionDisabled="inactivo">
    </p-dropdown>
  </div>

  <div class="col-5 field">
    <label for="codigo_unidad">Unidad de Venta</label>
    <input pInputText id="codigo_unidad" formControlName="codigo_unidad" type="text" pKeyFilter="money"
      placeholder="Unidad de venta" />
  </div>

  <div class="col-7 field">
    <label for="unidad">Cantidad</label>
    <input pInputText id="unidad" formControlName="unidad" type="text" pKeyFilter="money"
      placeholder="Unidad de venta" />
  </div>

  <div class="field col-5">
    <label for="moneda">Moneda</label>
    <p-dropdown id="moneda" [options]="monedas" formControlName="codigo_moneda" optionLabel="label" optionValue="value"
      placeholder="Moneda">
    </p-dropdown>
  </div>

  <div class="col-7 field">
    <label for="monto_total">Total del Bien</label>
    <input pInputText id="monto_total" formControlName="monto_total" type="text" pKeyFilter="money"
      placeholder="Unidad de venta" />
  </div>

  <button class="w-full m-y-16" mat-flat-button [disabled]="(this.form.invalid || this.operacion == 'vista')"
    (click)="emitir()"> Enviar </button>
</form>