<form [formGroup]="form" class="grid form-grid p-fluid">
  <div class="col-12 field">
    <label for="descripcion">Descripción</label>
    <input pInputText id="descripcion" formControlName="descripcion" type="text" />
  </div>

  <div class="field col-12">
    <label for="calendar">Fecha de Adquisición</label>
    <p-calendar id="calendar" formControlName="fecha_adquisicion" [showIcon]="true" />
  </div>

  <div class="field col-12">
    <label for="moneda">Moneda</label>
    <p-dropdown id="moneda" [options]="monedas" formControlName="codigo_moneda" optionLabel="label" optionValue="value"
      placeholder="Moneda">
    </p-dropdown>
  </div>

  <div class="field col-12">
    <label for="usuario_responsable">Usuario Responsable</label>
    <p-dropdown id="usuario_responsable" [options]="usuarios" formControlName="cod_usuario_responsable"
      optionLabel="nombre_completo" optionValue="cod_usuario" placeholder="Usuario Responsable">
    </p-dropdown>
  </div>

  <div class="field col-12">
    <label for="cod_tipo_depreciacion">Tipo de Depreciación</label>
    <p-dropdown id="cod_tipo_depreciacion" [options]="tipoDepreciacion" formControlName="cod_tipo_depreciacion"
      optionLabel="cod_tipo_depreciacion" optionValue="descripcion" placeholder="Tipo de Depreciación">
    </p-dropdown>
  </div>

  <div class="col-12 field">
    <label for="monto">Valor de la Herramienta </label>
    <input pInputText id="monto" formControlName="monto" type="text" pKeyFilter="money"
      placeholder="Valor de la Herramienta" />
  </div>

  <div class="col-8 field">
    <label for="consumo_electrico">Consumo de luz</label>
    <input pInputText id="consumo_electrico" formControlName="consumo_electrico" type="text" pKeyFilter="money"
      placeholder="Consumo energetico de la Herramienta" />
  </div>

  <div class="col-4 field">
    <label for="codigo_medida_electricidad">Medida de consumo</label>
    <input pInputText id="codigo_medida_electricidad" formControlName="codigo_medida_electricidad" type="text"
      pKeyFilter="alpha" placeholder="Medida de consumo" />
  </div>

  <button class="w-full m-y-16" mat-flat-button [disabled]="(this.form.invalid || this.operacion == 'vista')"
    (click)="emitir()">
    Enviar
  </button>
</form>