<!-- <p>detalle-costos-fijos works!</p>
<form-costos-fijos></form-costos-fijos> -->


<div class="flex flex-column gap-8">
  <toolbar>
    <span>Registros de Costos Fijos</span>
  </toolbar>
  
  <tabla-costos-fijos [data-tabla]="costosfijos"></tabla-costos-fijos>
  
  <p-paginator 
    (onPageChange)="handlePagination($event)" 
    [rows]="paginationConfigurations.pageLimit"
    [totalRecords]="paginationConfigurations.totalRecords"
    [rowsPerPageOptions]="paginationConfigurations.rowsPerPageOptions"
  ></p-paginator>
</div>
