<div class="flex flex-column gap-8">
    <toolbar [titulo]="'Registros de Materias Primas'" (agregar)="nuevoFlag=true">
    </toolbar>
    
    <tabla-materias-primas 
      [data-tabla]="materiasPrimas"
      (editar)="edicion($event)" 
      (eliminar)="eliminacion($event)"
      (vista)="vista($event)"
    />
    
    <p-paginator 
      (onPageChange)="handlePagination($event)" 
      [rows]="paginationConfigurations.pageLimit"
      [totalRecords]="paginationConfigurations.totalRecords"
      [rowsPerPageOptions]="paginationConfigurations.rowsPerPageOptions"
    ></p-paginator>
  </div>

  <p-dialog 
    header="Creación" 
    [modal]="true" 
    [(visible)]="nuevoFlag" 
    [style]="{ width: '30vw' }"
    (onHide)="nuevoFlag=false"
  >
    <ng-template pTemplate="body">  
      <form-materias-primas
        [tipo-operacion]="'creacion'" 
        (formulario)="creacion($event)" 
      />
    </ng-template>
    </p-dialog>
  
  <p-dialog 
    header="Edición" 
    [modal]="true" 
    [(visible)]="edicionFlag" 
    [style]="{ width: '30vw' }"
    (onHide)="edicionFlag=false"
  >
  <ng-template pTemplate="body">
    <form-materias-primas 
      [tipo-operacion]="'actualizacion'"
      [informacionForm]="materiasPrimasSeleccionada"
      (formulario)="actualizacion($event)" 
    />
  </ng-template>
</p-dialog>

<p-dialog 
  header="Vista" 
  [modal]="true" 
  [(visible)]="vistaFlag" 
  [style]="{ width: '30vw' }" 
  (onHide)="vistaFlag=false"
>
    <ng-template pTemplate="body">
      <form-materias-primas 
        [tipo-operacion]="'vista'" 
        [informacionForm]="materiasPrimasSeleccionada" 
    />
    </ng-template>
  </p-dialog>