<div class="flex flex-column gap-8">
  <toolbar [titulo]="mensaje()" [mostrarReturn]="false" [mostrarAgregar]="false"></toolbar>

  <div class="flex flex-direction col-12 p-0">
    <div class="col-5 p-1">
      <p-card>
        <form-maestro [tipo-operacion]="'creacion'" />
      </p-card>
    </div>
    <div class="col-7 p-1">
      <p-tabView>
        <p-tabPanel header="Bienes">
          <tabla-bienes [data-tabla]="infoTablaBienes" />
        </p-tabPanel>
        <p-tabPanel header="Servicios">
          <tabla-servicios [data-tabla]="infoTablaServicios" />
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

</div>

<p-dialog>
  <ng-template pTemplate="body">
  </ng-template>
</p-dialog>