<div class="flex flex-column gap-8">
    <toolbar [titulo]="'Registros de Movimientos'" (agregar)="navegar({cod_maestro: 0}, true)">
    </toolbar>
    
    <tabla-registros 
     [data-tabla]="registros"
     (eliminar)="eliminacion($event)"
     (vista)="navegar($event, true)"
     (editar)="navegar($event, false)"
    ></tabla-registros>
    
    <p-paginator 
      (onPageChange)="handlePagination($event)" 
      [rows]="paginationConfigurations.pageLimit"
      [totalRecords]="paginationConfigurations.totalRecords"
      [rowsPerPageOptions]="paginationConfigurations.rowsPerPageOptions"
    ></p-paginator>
  </div>