<form [formGroup]="form" class="grid form-grid p-fluid">
  <div class="col-12 field">
    <label for="descripcion">Descripción</label>
    <input pInputText id="descripcion" formControlName="descripcion" />
  </div>

  <div class="form-field col-12">
    <label>Moneda</label>
    <p-dropdown [options]="monedas" formControlName="codigo_moneda" optionLabel="label" optionValue="value"
      placeholder="Moneda"></p-dropdown>
  </div>

  <div class="col-12 field">
    <label for="monto_total">Monto del Costo</label>
    <input pInputText id="monto_total" formControlName="monto_total" type="text" pKeyFilter="money" />
  </div>

  <button class="w-full m-y-16" mat-flat-button [disabled]="(this.form.invalid || this.operacion == 'vista')"
    (click)="emitir()">
    Enviar
  </button>
</form>