<p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="fecha_creacion">
        Fecha Creación <p-sortIcon field="fecha_creacion" />
      </th>
      <th pSortableColumn="usuario_creacion">
        Creado por <p-sortIcon field="usuario_creacion" />

      </th>
      <th pSortableColumn="codigo_moneda">
        Moneda <p-sortIcon field="codigo_moneda" />
      </th>
      <th pSortableColumn="monto_total">
        Monto <p-sortIcon field="monto_total" />
      </th>
      <th alignFrozen="right" pFrozenColumn>
        Opciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-costos>
    <tr>
      <td>{{ costos.fecha_creacion | date:'dd/MM/yyyy'}}</td>
      <td>{{ costos.usuario_creacion }}</td>
      <td>{{ costos.codigo_moneda }}</td>
      <td alignFrozen="right" pFrozenColumn>{{ costos.monto_total }}</td>
      <td class="justify-content-center" style="display: flex; gap: 0.5rem;">
        <button pButton class="custom-button" title="Visualización" severity="info" (click)="vista.emit(costos)">
          <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        </button>
        <button pButton class="custom-button" title="Edición" severity="warning" (click)="editar.emit(costos)">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </button>
        <button pButton class="custom-button" title="Eliminación" severity="danger" (click)="eliminar.emit(costos)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>